
{% from "_render_elements.html" import render_field %}

{% block content %}
<div>
    <div align="center">
        {% if get_flashed_messages()  %}
        <ul>
        {% for message in get_flashed_messages() %}
        <li style="color:red;">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

    </div>
<div align="center">
    <h1>注册</h1>
    <form method="post" action="{{ url_for('signup') }}">
    {{ form.csrf_token }}
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ form.submit }}
    <a href="/denglu/login">已有账号,去登陆</a>
    </form>
</div>
</div>
{% endblock %}